@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #24f29c;
  --hover-color: ##d600ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--main-color);
  cursor: url(assets/imgs/cursor/resized_cursor.png), default;
}

a,
button {
  cursor: url(assets/imgs/cursor/resized_pointer.png), pointer !important;
}
